@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
@layer utilities {

  /* Hides the scrollbar for the horizontal filter pills while keeping them scrollable */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Invert standard bright OpenStreetMap tiles to Dark Mode */
.dark-map-tiles {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

/* Ensure the body takes full height and has the new background */
html,
body,
#root {
  height: 100%;
  color: #1e293b; /* Dark text for contrast */
}